<h2>user.componet</h2>

<div class="container">
    <label>username:</label>
    <input #userName class="form-control" type="text" placeholder="Enter user name" />
    <small class="form-text text-muted">注記xxxxxxxxxxxxxxxxxxxxxxx</small>
    <button class="btn btn-dark" (click)="getUser(userName.value); 
                userName.value=''">Search user
    </button>
</div>

<!-- 上マージンを設定 -->
<div class="container mt-5">
    <div *ngIf="user">
        <h5>ユーザ情報</h5>
        <table class="table">
            <caption>User infomation</caption>
            <thead>
                <tr>
                    <th>
                        id
                    </th>
                    <th>
                        name
                    </th>
                    <th>
                        action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of user">
                    <td>{{ u.id }}</td>
                    <td>{{ u.name }}</td>
                    <td><button class="btn btn-dark" (click)="setId(u.id)">Search purchase</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>